html,
body {
    margin: 0;
    background: linear-gradient(#ffffff, #e7e7e7, #ecf5ff);
    overflow-x: hidden;
    height: 100%;
}

/* Stil bara de scroll */
::-webkit-scrollbar {
    width: 6px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background: #007aff;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px;
}


::-moz-scrollbar-thumb {
    background: #007aff;
    border-radius: 20px;
}




header {
    display: flex;
    justify-content: center;

}



.navbar {
    width: 650px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    justify-content: center;
    border-radius: 75px;
    height: 100px;
    margin-top: -120px;
    box-shadow: 0 0 20px 5px rgba(0, 119, 255, 0.6);
    background-color: white;
    transition: margin-top 1.3s ease;
    position: fixed;
    z-index: 9999;
}

.nav {
    display: flex;
    padding-top: 50px;
    align-items: center;
    gap: 30px;


}

.logo img {
    width: 45px;
    height: 45px;
    animation: rotateFast 1s ease-in-out, 0.5s forwards;
}

.content {
    min-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
}




@keyframes rotateFast {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}


.links {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.links a {
    color: #007aff;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.links a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 3px;
    border-radius: 25px;
    background-color: #007aff;
    transition: width 0.3s ease, left 0.3s ease;
}

.links a:hover::after {
    width: 100%;
    left: 0;
}



.sidenav {
    display: none;
}

.logo-mobile {
    display: none;
}

/*navbar telefon*/
@media (max-width:728px) {
    .navbar {
        display: none;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;

    }



    .sidenav {
        display: block;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #dcdcdc;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 120px;
    }

    .sidenav a {
        padding: 10px 20px;
        text-decoration: none;
        font-size: 18px;
        color: #007aff;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        background-color: #575757;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 20px;
        right: 25px;
        font-size: 36px;
        cursor: pointer;
    }

    #logo-container {
        position: relative;
        display: inline-block;
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }

    .logo-mobile {
        display: block;
        position: relative;
        padding-left: 10px;
        padding-top: 10px;
        z-index: 1;
        width: 80px;
        height: 80px;
        margin: 0 auto;
    }

    .logo-animation {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100px;
        height: 100px;
        border: 2px solid transparent;
        border-top: 7px solid rgb(255, 208, 0);
        border-right: 9px solid rgb(14, 167, 0);
        border-radius: 50%;
        transform-origin: center;
        opacity: 0;
        transform: translate(-50%, -50%);
    }

    .logo-animation:nth-child(1) {
        animation: rotateLines1 1s linear;
    }

    .logo-animation:nth-child(2) {
        animation: rotateLines2 1.2s linear;
    }

    @keyframes rotateLines1 {
        0% {
            transform: translate(-50%, -50%) rotate(0deg);
            opacity: 1;
        }

        100% {
            transform: translate(-50%, -50%) rotate(360deg);
            opacity: 0;
        }
    }

    @keyframes rotateLines2 {
        0% {
            transform: translate(-50%, -50%) rotate(0deg);
            opacity: 1;
        }

        100% {
            transform: translate(-50%, -50%) rotate(-360deg);
            opacity: 0;
        }
    }


    @keyframes rotateLines2 {
        0% {
            transform: translate(-50%, -50%) rotate(0deg);
            opacity: 1;
        }

        100% {
            transform: translate(-50%, -50%) rotate(-360deg);
            opacity: 0;
        }
    }


}



/*titlu pagina principala*/
.title {
    display: flex;
    justify-content: center;
    text-align: center;
}

.title h1 {
    color: #007aff;
    padding-top: 10px;
    font-size: 40px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
    position: relative;
}

.title h1::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #007aff;
    transition: width 1s ease;
}

.title h1.animate {
    opacity: 1;
    transform: translateY(0);
}

.title h1.animate::after {
    width: 100%;
}

@media (max-width:850px) {
    .title h1::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0;
        height: 0px;
        background-color: #007aff;
        transition: width 1s ease;
    }
}



.centered {
    display: flex;
    justify-content: center;
}

.container-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 250px;
    padding-top: 25px;
    padding-bottom: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

@media (max-width:1430px) {
    .container-content {
        gap: 100px;
    }
}

@media (max-width:1100px) {
    .container-content {
        gap: 30px;
    }
}

.text-c {
    display: flex;
    flex-direction: column;
    gap: 85px;
}

.container {
    border-radius: 10px;
    box-shadow: 0 0 20px 5px rgba(204, 204, 204, 0.6);
    width: 500px;
    height: auto;
    background-color: white;
    opacity: 0;
    animation: slideIn2 0.7s forwards;
    transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}

.container:hover {
    box-shadow: 0 0 20px 5px rgba(0, 122, 255, 0.8);
}

.container:hover::before {
    content: "";
    position: absolute;
    inset: 0;
    border: 3px solid rgba(0, 122, 255, 0.8);
    opacity: 0;

}



.container h2 {
    color: #007aff;
    margin-left: 20px;
    position: relative;
    display: inline-block;
}

.container h2::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #007aff;
    transition: 0.3s ease-in-out;
}

.container:hover h2::after {
    width: 100%;
}


.container p {
    margin-left: 20px;
}

.container-content-mobile {
    display: none;
}




@media (max-width: 980px) {

    .container-content {
        display: none;
    }

    .container-content-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-mobile {
        box-shadow: 0 0 20px 5px rgba(204, 204, 204, 0.6);
        width: 520px;
        justify-content: center;
        text-align: center;
        border-radius: 15px;
    }

    .container-mobile h2 {
        padding-top: 30px;
        color: #007aff;
    }

    .container-mobile p {
        padding-bottom: 10px;
    }

    .container-mobile img {
        margin-bottom: 10px;
        border-radius: 5px;
        max-width: 500px;
    }


}


@media (max-width: 828px) {



    .container-content-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-mobile {
        box-shadow: 0 0 20px 5px rgba(204, 204, 204, 0.6);
        width: 320px;
        justify-content: center;
        text-align: center;
        border-radius: 15px;
    }

    .container-mobile h2 {
        padding-top: 30px;
        color: #007aff;
    }

    .container-mobile p {
        padding-bottom: 10px;
    }

    .container-mobile img {
        margin-bottom: 10px;
        border-radius: 5px;
        max-width: 290px;
    }


}


.photo-container {
    display: flex;
    gap: 50px;
    flex-direction: column;
}

.photo-container img {
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.photo-container img:hover {
    transform: scale(1.05);
}

.image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease;
}

.image-overlay.active {
    visibility: visible;
    opacity: 1;
}


.image-overlay img {
    width: 800px;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    transform: scale(0.8);
    animation: none;
}


@keyframes bounce {
    0% {
        transform: scale(0.8) translateY(-15%);
    }

    50% {
        transform: scale(1.1) translateY(-15%);
    }

    100% {
        transform: scale(0.1s) translateY(-15%);
    }
}



/* Animație pentru imaginea centrată */
@keyframes scaleIn {
    0% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}


/* Animația pentru text */
@keyframes slideIn2 {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Animația pentru imagini */
@keyframes slideInImages {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.container-num {
    display: flex;
    justify-content: center;
    padding-bottom: 75px;
    opacity: 0;
    transform: translate/X(-100%);
    animation: slideIN3 1s forwards;
}

@keyframes slideIN3 {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.numar-cont {
    width: 1100px;
    height: 100px;
    background-color: #007aff;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.587);
    transition: 1s;
}

.numar-cont:hover {
    width: 1200px;
    background-color: #007aff;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 25px 25px rgba(0, 0, 0, 0.587);
    transition: 1s;
}

.count {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.count h3 {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    color: beige;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.count h2 {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 30px;
    color: beige;
}



@media (max-width: 900px) {
    .numar-cont {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 350px;
        margin-top: 30px;
    }

}


.video-loop {
    padding-top: 0px;
    overflow: hidden;
}

.video-loop video {
    width: 100%;
    height: 300px;
    object-fit: cover;
    padding-bottom: 0px;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 1s ease-out forwards;

}

@media (max-width: 728px) {
    .video-loop {
        display: none;
    }
}



/* Animația pentru video */
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);

    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.invite-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 200px;
    box-shadow: 0 0 20px 5px rgba(208, 208, 208, 0.6);
    width: 1250px;
    border-radius: 10px;
    height: 350px;
    align-items: center;
    background-color: white;

}


.invite-photo img {
    margin-left: 30px;
    height: 300px;
    border-radius: 5px;
    transition: 0.5s;
}

.invite-photo img:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.invite-text {
    width: 400px;
    box-shadow: 0 0 10px 5px rgba(146, 146, 146, 0.184);
    border-radius: 5px;
    transition: 0.5s;
}

.invite-text:hover {
    box-shadow: 0 0 20px 5px rgba(0, 122, 255, 0.8);
    transition: 0.5s;
}

.invite-text h3 {
    color: #007aff;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
}

.invite-text h3::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #007aff;
    transition: width 0.5s ease-in-out;
}

.invite-text h3.underline-visible::after {
    width: 100%;
}


.invite-text p {
    margin-left: 10px;
    margin-right: 10px;
}


@media (max-width: 1000px) {
    .invite-container {
        display: flex;
        flex-direction: column;
        width: 350px;
        gap: 30px;
        justify-content: center;
        height: 600px;
        align-items: center;
    }

    .invite-photo img {
        width: 300px;
        object-fit: cover;
        height: 200px;
        margin-left: 0px;
    }

    .invite-text {
        width: 300px;
    }
}


/*footer*/

footer {

    height: 250px;
    margin-top: 100px;
    background-color: #007aff;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s, transform 0.5s;
}



footer.visible {
    opacity: 1;
    transform: translateY(0);
}


.footer-cols {
    display: flex;
    flex-direction: row;
    gap: 300px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 30px;
    align-items: top;
    justify-content: center;


}

.col1 {
    display: flex;
    flex-direction: column;
}

.col1 h2 {
    color: white;
}

.col1-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.col1-links img {
    width: 40px;
    height: 40px;
}


.col2 {
    display: flex;
    flex-direction: column;
}

.col2 h2 {
    color: white;
}

.col2-links {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.col2-links a {
    text-decoration: none;
    color: rgb(189, 189, 189);

}

.links1 {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    gap: 10px;
}

.links2 {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    gap: 10px;
}

.col3 h2 {
    color: white;
}

.contact-footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-footer label input {
    border-radius: 25px;
    border: rgba(0, 0, 0, 0);
    width: 225px;
    height: 20px;

}

.contact-footer label input,
textarea::placeholder {
    padding-left: 10px;
}

.contact-footer label input,
textarea:focus {
    outline: none;
}



.contact-footer label textarea {
    border-radius: 25px;
    resize: none;
    width: 235px;
    height: 40px;
}

.contact-footer button {
    background-color: #007aff;
    font-weight: bold;
    color: white;
    height: 30px;
    width: 70px;
    border-radius: 25px;
    border: none;
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.6);
}

@media (max-width: 1156px) {
    .footer-cols {
        gap: 120px;
    }
}


@media (max-width: 900px) {
    .footer-cols {
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
    }

    footer {
        display: flex;
        height: 600px;
        justify-content: center;
        align-items: center;
    }



    .col3 {
        padding-bottom: 50px;
    }
}



/*pentru coloana de persoane (pagina cre)*/

.container-cre {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.container-column {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 50px;

}

.person-container {
    display: flex;
    flex-direction: row;
    gap: 80px;
    width: 750px;
    height: 300px;
    box-shadow: 0 0 20px 5px rgba(0, 89, 255, 0.305);
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    transition: 0.5s;
}

.person-container:hover {
    transform: scale(1.2);
    transition: 0.5s
}

.empty-container {
    width: 450px;
    height: 300px;
}

.person img {
    width: 300px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.p-text {
    width: 250px;
}

.p-text h3 {
    color: #007aff;
}

.p-text h5 {
    color: #575757;
}

.p-text p strong {
    color: #007aff;
}

.p-text a {
    text-decoration: none;
    color: #7d7d7d;
}


@media (max-width:1400px) {
    .empty-container {
        display: none;
    }

    @media (max-width:768px) {
        .person-container {
            width: 650px;
        }

    }

    @media (max-width:670px) {
        .person-container {
            flex-direction: column;
            height: 600px;
            width: 350px;
        }
    }
}

/*imagini cu membri*/




.people-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 50px;

}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);

    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.people-photo img {
    width: 250px;
    border-radius: 10px;
    opacity: 0;

    transform: translateY(20px);

    transition: transform 0.5s, box-shadow 0.5s;

}

.people-photo img.animate {
    animation: slideUp 1s ease-in-out forwards;
}

.people-photo img:hover {
    box-shadow: 0 0 20px 5px rgba(0, 89, 255, 0.469);
}





/*Pagina acte norm..*/

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}




.docs-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    position: relative;
}

.docs-container {
    position: relative;
    padding-right: 125px;
    animation: slideInFromLeft 1s ease-out forwards;
}

.docs-container::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: #007aff;

}

.docs-container a {
    text-decoration: none;

}

.doc {
    width: 500px;
    border-radius: 25px;
    height: 50px;
    box-shadow: 0 0 20px 5px rgba(0, 89, 255, 0.305);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    transition: 0.2s;

}


.doc:hover {
    transform: scale(1.2);
    transition: 0.2s;
    background-color: #d2d2d2;
    color: white;
}

.doc h3 {
    color: #007aff;
    font-size: 20px;
    padding-left: 15px;
}

.docs-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 20px 5px rgba(142, 142, 142, 0.519);
    transition: 0.5s;
    animation: slideInFromRight 1s ease-out forwards;

}

.docs-text:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.docs-text h2 {
    color: #007aff;
    width: 450px;
    text-align: center;



}

.docs-text img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;


}

.parag {
    padding-right: 35px;
    padding-left: 35px;
    transition: 0.5s;
}

.parag:hover {
    transform: scale(1.4);
    transition: 0.5s;
    background-color: white;
    box-shadow: 0 0 20px 5px rgba(142, 142, 142, 0.519);
    border-radius: 10px;

}


@media (max-width:1244px) {
    .docs-cont {
        gap: 0px;
    }

    .docs-container::after {
        width: 0px;
    }
}

@media (max-width:1147px) {
    .docs-cont {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .docs-container {
        position: relative;
        padding-right: 0px;
        padding-bottom: 90px;
    }
}

@media (max-width:512px) {
    .doc {
        width: 300px;
        height: 70px;
    }

    .docs-text {
        width: 350px;
    }

    .docs-text img {
        width: 320px;
    }

    .docs-text h2 {
        max-width: 300px;
    }
}




/*pagina noutati*/

.container-news {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    align-items: flex-start;

}



.new {
    width: 400px;
    height: 980px;
    box-shadow: 0 0 20px 5px rgba(142, 142, 142, 0.519);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    border-radius: 15px;
    transition: 0.5s;
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.new {
    opacity: 0;
    animation: fadeInUp 1s ease forwards;
}

.container-news .new:nth-child(1) {
    animation-delay: 0.2s;
}

.container-news .new:nth-child(2) {
    animation-delay: 0.4s;
}

.container-news .new:nth-child(3) {
    animation-delay: 0.6s;
}


.new:hover {
    transform: scale(1.02);
    transition: 0.5s;
}

.new h2 {
    color: #007aff;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.new p {
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.5s;
    max-height: 600px;
}

.new p:hover {
    transform: scale(1.15);
    transition: 0.5s;
    background-color: white;
    box-shadow: 0 0 20px 5px rgba(142, 142, 142, 0.519);
    border-radius: 15px;
}

.new a {
    text-decoration: none;
}

.btn {
    width: 160px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    height: 40px;
    background-color: #007aff;
    color: #ffffff;
    box-shadow: 0 0 5px 5px rgba(201, 201, 201, 0.519);
    border-radius: 25px;
    transition: 0.2s;
}

.btn:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.image img {
    width: 330px;
    height: 270px;
    object-fit: cover;
    border-radius: 5px;

}

/*slideshow imagini*/


.slideshow {

    width: 80%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides img {
    width: 100%;
    flex-shrink: 0;
}


@media (max-width:1400px) {
    .container-news {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 100px;
        align-items: center;

    }

    .new {
        width: 600px;
    }

}

@media (max-width:728px) {
    .new {
        width: 330px;
        height: 1100px;
    }
}

/*Contact page*/

.contact-container {
    display: flex;
    flex-direction: row;
    gap: 120px;
    justify-content: center;
}

.contact-data {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px rgba(201, 201, 201, 0.519);
    transition: 0.5s;
    padding-left: 20px;

}

.contact-data:hover {
    transform: scale(1.2);
    transition: 0.5s;
    background-color: rgb(244, 244, 244);
}

.contact-data h2 {
    color: #007aff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}

.contact-data p strong {
    color: #007aff;
}

.contact-data p {
    font-size: 20px;
}


.contact-data a {
    text-decoration: none;
    color: #575757;
}

.adress iframe {
    border-radius: 5px;
    box-shadow: 0 0 15px 5px rgba(0, 119, 255, 0.354);
    transition: 0.5s;
}

.adress iframe:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.contact-form h2 {
    padding-top: 60px;
    color: #007aff;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-form form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;

}

.contact-form form label input {
    width: 400px;
    height: 40px;
    border-radius: 25px;
    border: none;
    transition: 0.5s;
}

.contact-form form label input:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.contact-form form label input:focus {
    transform: scale(1.1);
    transition: 0.5s;
}

.contact-form form label textarea {
    width: 400px;
    height: 40px;
    resize: none;
    border-radius: 25px;
    border: none;
    transition: 0.5s;
}

.contact-form form label input,
textarea::placeholder {
    padding-left: 10px;
}

.contact-form form label textarea:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.contact-form form label textarea:focus {
    transform: scale(1.1);
    transition: 0.5s;
}

.contact-form form label input,
textarea:focus {
    outline: none;
}



.contact-form form button {
    background-color: #007aff;
    font-weight: bold;
    color: white;
    height: 30px;
    width: 70px;
    border-radius: 25px;
    border: none;
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.6);
    transition: 0.5s;
}

.contact-form form button:hover {
    transform: scale(1.1);
    transition: 0.5s;
}


@media (max-width:1170px) {
    .contact-container {
        gap: 25px;
    }
}

@media (max-width:1074px) {
    .contact-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 70px;
    }
}

@media (max-width:545px) {
    .contact-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 70px;
    }

    .contact-data {
        width: 335px;
    }

    .adress iframe {
        width: 350px;
    }

    .contact-form form label input {
        width: 330px;
    }

    .contact-form form label textarea {
        width: 330px;
    }

    .title h1 {
        margin-top: -70px;
        padding-top: -70px;
    }
}

/*Subdiviziunile*/


.first-subdiv-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

}

.first-photo img {
    width: 700px;
}

.first-cont {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;

}

.first-text {
    box-shadow: 0 0 10px 5px rgba(208, 208, 208, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    height: 350px;

}



.first-text:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.first-text h3 {
    color: #007aff;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    width: 300px;

}

@media (max-width:800px) {
    .first-subdiv-cont {
        flex-direction: column;
    }

    .first-photo img {
        max-width: 350px;
    }

    .first-text:hover {
        transform: scale(1.0);
        transition: 0.5s;
    }
}


.comp {
    box-shadow: 0 0 5px 5px rgba(122, 122, 122, 0.282);
    width: 80%;
}

.comp h4 {
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #007aff;

}

.comp p {
    padding-left: 20px;
}

.comp p strong {
    color: #007aff;
    font-family: Arial, Helvetica, sans-serif;
}

.container-sub {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 40px;
}

/*disclaimer*/

.disclaimer,
.disclaimer-mobile {
    position: fixed;
    right: 20px;
    background-color: rgba(0, 170, 255, 0.8);
    color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 9999;
    display: none;
    width: 200px;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-btn:hover {
    color: red;
}


@media (max-width: 730px) {

    .disclaimer-mobile {
        display: block;
        bottom: 170px;
    }


    .disclaimer {
        display: block;
        bottom: 20px;
    }
}


@media (min-width: 731px) {
    .disclaimer {
        display: block;
        bottom: 20px;
    }

    .disclaimer-mobile {
        display: none;
        bottom: 170px;
    }
}